*{
    margin: 0;
}
h2{
    font-size: 5vw;
    text-align: center;
}

/*header d1*/
.wrapper_1{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    text-align: center;
}
h1{
    position: relative;
    top: 100px;
    font-size: 11vw;
}
.space{
    font-size: 1.5vw;
    top: 111px;
}
.links_ids{
    top: 110px;
    text-decoration: none;
    font-size: 1.5vw;
}
.links_ids:hover{
    color: #00a2ff;
    transition: 0.25s;
}
h1, .links_ids, .space{
    position: relative;
    opacity: 0.8;
    color: #f4f4f4;
}
.gradient{
    background-color: #065381;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #00a2ff;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0084d1;
    transition: 0.25s;
}
::-webkit-scrollbar-track{
    background-color: #f4f4f4;
}
@media only screen and (max-width: 690px){
    .links_ids{
        display: block;
        border: 1px solid #e2e1e1;
        width: 280px;
        margin: 22px auto;
        padding: 10px;
        font-size: 4vw;
    }
    .links_ids:hover{
        color: #0084d1;
        background-color: #e2e1e1;
        opacity: 1;
    }
    .space{
        display: none;
    }
}
/*Fin de d1*/

/*Pie de página*/
.pie_de_pagina{
    background-color: #011724;
    color: #00a2ff;
    padding-bottom: 20px;
}
.developers, .bibliografia{
    display: inline-block;
}
.developers{
    margin: 20px 0px 17px 40px;
    width: 40%;
    text-align: left;
}
.bibliografia{
    width: 55%;
    text-align: right;
    font-size: 20px;
}
.equipo li a, .bibliografia a{
    text-decoration: none;
    color: #f4f4f4;
}
.equipo li a:hover, .bibliografia a:hover{
    text-decoration: none;
    color: #0084d1;
}
.dev{
    padding: 17px 0px;
    font-size: 28px;
}
li{
    margin-bottom: 7px;
}
@media only screen and (max-width: 260px){  
    .dev{
        padding: 7px 0px;
        font-size: 11vw;
    }
}
/*Fin de pie de página*/

/*Websites accesibles grids d3*/
#d3 h2{
    color: #f4f4f4;
    opacity: 0.9;
    padding: 50px 0px;
}
#d3 .subtitle{
    color: #f4f4f4;
    opacity: 0.7;
    text-align: center;
    padding-bottom: 90px;
}
.squares{
    width: 20%;
    margin: 25px;
    display: inline-block;
}
.squares a img{
    width: 100%;
    display: block;
}
.squares:hover{
    filter: brightness(115%);
}
.squares a{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.wrapper_websites{
    margin: 0px auto;
    width: 86%;
    margin-bottom: 50px;
}
@media only screen and (max-width: 1238px){
    .squares{
        width: 38%;
        margin: 15px;
        display: inline-block;
    }
}
/*Fin de d3*/

/*Videotutoriales d5*/
#d5{
    background-color: #013d5f;
    color: #e2e1e1;
}
.big_letters{
    padding: 40px;
    opacity: 0.9;
}
.wrapper_videos{
    width: 96%;
    margin: auto;
    text-align: center;
}
.wrapper_videos p b, .wrapper_videos p{
    display: block;
    padding: 37px 0px;
    width: 60%;
    text-align: left;
}
.wrapper_videos p{
    margin: auto;
}
.wrapper_videos iframe{
    width: 640px;
    padding: 17px 0px
}
.wrapper_videos h2{
    font-size: 3vw;
}
@media only screen and (max-width: 670px){
    .wrapper_videos iframe{
        width: 90%;
        height: 200px;
    }
    .wrapper_videos p b, .wrapper_videos p{
        display: block;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .big_letters{
        padding: 30px 4px;
    }
}
/*Fin de d5*/

/*Botones videos*/
.button_squares{
    padding: 20px;
    width: 280px;
    margin: auto;
}
.botones{
    background-color: #1b1b1b;
    height: 60px;
    width: 135px;
    display: inline-block;
}
.botones:hover{
    filter: contrast(90%);
}
.botones:active{
    filter: contrast(70%);
}
.botones button{
    background: transparent;
    font-size: 0px;
    height: 60px;
    border: 0px;
    outline: none;
}
.botones button img{
    width: 40px;
    display: inline-block;
}
.r{
    margin: 0px 0px 0px 78px;
    transform: rotate(90deg);
}
.l{
    margin: 0px 78px 0px -10px;
    transform: rotate(270deg);
}
@media only screen and (max-width: 335px){
    .r{
        margin: 0px 0px 0px 39px;
    }
    .l{
        margin: 0px 39px 0px -5px;
    }
    .botones button img{
        width: 20px;
    }
    .botones button{
        height: 30px;
    }
    .button_squares{
        padding: 10px;
        width: 140px;
        margin: auto;
    }
    .botones{
        background-color: #1b1b1b;
        height: 30px;
        width: 67.5px;
        display: inline-block;
    }
}
/*Fin de botones*/