*{
    margin: 0;
}
h2{
    font-size: 5vw;
    text-align: center;
}
/*header d1*/
.wrapper_1{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
    text-align: center;
}
h1{
    position: relative;
    top: 100px;
    font-size: 11vw;
}
.links_ids{
    top: 110px;
    text-decoration: none;
    font-size: 1.5vw;
}
.links_ids:hover{
    color: #00a2ff;
    transition: 0.25s;
}
h1, .links_ids, .space{
    position: relative;
    opacity: 0.8;
    color: #f4f4f4;
}
.gradient{
    background-color: #065381;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #00a2ff;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #0084d1;
    transition: 0.25s;
}
::-webkit-scrollbar-track{
    background-color: #f4f4f4;
}
@media only screen and (max-width: 690px){
    .links_ids{
        display: block;
        font-size: 4vw;
        margin-bottom: 20px;
    }
    .space{
        display: none;
    }
}
/*Fin de d1*/

/*Pie de página*/
.pie_de_pagina{
    background-color: #011724;
    color: #00a2ff;
    padding-bottom: 20px;
}
.developers, .bibliografia{
    display: inline-block;
}
.developers{
    margin: 20px 0px 17px 40px;
    width: 40%;
    text-align: left;
}
.bibliografia{
    width: 55%;
    text-align: right;
    font-size: 20px;
}
.equipo li a, .bibliografia a{
    text-decoration: none;
    color: #f4f4f4;
}
.equipo li a:hover, .bibliografia a:hover{
    text-decoration: none;
    color: #0084d1;
}
.dev{
    padding: 17px 0px;
    font-size: 28px;
}
li{
    margin-bottom: 7px;
}
@media only screen and (max-width: 260px){  
    .dev{
        padding: 7px 0px;
        font-size: 11vw;
    }
}
/*Fin de pie de página*/

/*Websites accesibles grids d3*/
#d3 h2{
    color: #f4f4f4;
    opacity: 0.7;
    padding: 50px 0px;
}
#d3 .subtitle{
    color: #f4f4f4;
    opacity: 0.7;
    text-align: center;
    padding-bottom: 90px;
}
.squares{
    width: 20%;
    margin: 25px;
    display: inline-block;
}
.squares a img{
    width: 100%;
    display: block;
}
.squares:hover{
    filter: brightness(115%);
}
.squares a{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.wrapper_websites{
    margin: 0px auto;
    width: 86%;
    margin-bottom: 50px;
}
@media only screen and (max-width: 465px){
    .squares{
        width: 37%;
        margin: 15px;
        display: inline-block;
    }
}
/*Fin de d3*/